/* ===========================================
   Elena Nail Studio
   booking.css
=========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    padding:20px 12px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    font-family:'Raleway',sans-serif;
   /* background:url('https://i.imgur.com/1p3nAoG.jpeg') center center/cover no-repeat fixed;*/
    background:url('https://i.imgur.com/jekr8h8.jpeg') center center/cover no-repeat fixed;

}

.page{
    width:100%;
    max-width:620px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.booking-card{
    width:100%;
    max-width:620px;
    background:rgba(255,255,255,.92);
    backdrop-filter:blur(18px);
    border-radius:28px;
    padding:42px;
    box-shadow:
        0 25px 60px rgba(0,0,0,.30),
        0 8px 25px rgba(0,0,0,.12);
    animation:fadeIn .6s ease;
}

footer{
    margin-top:auto;
    padding:25px 0 15px;
    text-align:center;
    color:#ffffff;
    font-size:13px;
    opacity:.85;
}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(35px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

  .language-selector{
      position:absolute;
      top:100px;
      left:50px;
  }

.language-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #87d6b1;

    font-size: 34px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0px 0px rgba(0,0,0,.2);
}

.language-menu button{

    display:flex;
    align-items:center;
    gap:10px;

    width:100%;
    border:none;
    background:#22b865;
    color:white;
    padding:12px;
    border-radius:14px;
    font-size:16px;
    cursor:pointer;
    transition:.2s;
}

.language-menu button:hover{
    background:#18a457;
}

.language-menu button span {
    font-size: 20px;
}

.language-menu {

    position: absolute;
    top: 65px;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background: #ffffff;
    border-radius: 18px;
    padding: 10px;
    width: 180px;
    box-shadow: 0 8px 30px rgba(0,0,0,.18);
    z-index: 9999;
}

.language-menu.hidden{
    display:none;
}

  .language-option{
      width:20%;
      padding:10px 10px;
      border:none;
      text-align:center;
      cursor:pointer;
      font-size:10px;
  }

  .hidden{
      display:none;
  }

.logo-wrapper{
    text-align:center;
}

.logo{
    width:120px;
    height:120px;
    display:block;
    margin:-20px auto 16px;
    border-radius:50%;
    border:6px solid #fff;
    object-fit:cover;
    box-shadow:0 10px 35px rgba(0,0,0,.25);
}

.socials{
    margin-top:20px;
    text-align:center;
}

.socials img{
    width:60px;
    transition:.25s;
}

.socials img:hover{
    transform:scale(1.1);
}

h1{
    text-align:center;
    margin:12px 0 8px;
    font-size:22px;
    font-weight:700;
    line-height:1.05;
    color:#222;
}

.subtitle{
    text-align:center;
    color:#777;
    margin-bottom:32px;
    font-size:20px;
}

form{
    display:flex;
    flex-direction:column;
}


.field{
    display:flex;
    flex-direction:column;
    margin-bottom:22px;
}

label{
    display:block;
    font-size:20px;
    font-weight:600;
    margin:18px 0 8px;
    color:#444;
}

input,
select{
    width:100%;
    height:56px;
    padding:0 18px;
    border-radius:16px;
    border:2px solid #dddddd;
    font-size:18px;
    background:white;
    transition:.25s;
    box-sizing:border-box;
}

input:focus,
select:focus{
    outline:none;
    border-color:#ff6fa8;
    box-shadow:0 0 12px rgba(255,111,168,.3);

}

select[multiple]{
    height:220px;
}

button{
    width:100%;
    height:56px;
    padding:20px;
    margin-top:18px;
    border:none;
    border-radius:16px;
    background:#1dbf73;
    color:#fff;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
    transition:.25s;
}

button:hover{
    background:#17a765;
    transform:translateY(-2px);
}

.instagram{
    width:70px;
    display:block;
    margin:10px auto 20px;
}

#codeSection{
    margin-top:20px;
}

#service{
    min-height:260px;
}

#status{
    margin-top:25px;
    text-align:center;
    font-size:22px;
    font-weight:700;
    color:#27ae60;
}

.primary{
    background:#7d4cff;
    color:white;
    padding:18px;
}

.primary:hover{
    background:#6940df;
    transform:translateY(-2px);
}

.secondary{
    background:#18b56a;
    color:white;
    padding:16px;
    margin-bottom:18px;
}

.secondary:hover{
    background:#119858;
}

button:disabled{
    opacity:.65;
    cursor:not-allowed;
}

.hidden{
  display:none;
}

.cabinet-btn {
    margin-top:70px;
    margin-left:470px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #d7e4de;

    font-size: 34px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0px 0px rgba(0,0,0,.2);
}

.cabinet{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:420px;
    max-height:600px;
    overflow:auto;
    background:white;
    border-radius:20px;
    padding:25px;
    z-index:5000;
    box-shadow:0 10px 40px rgba(0,0,0,.25);
}



.cabinet-header{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:25px;

}

.cabinet-header h2{
    margin:0;
    font-size:20px;
    font-weight:700;

}

  #closeCabinet {
        position: absolute;
        right: 0;
        top: 0%;
        transform: translateY(-50%) !important;
        width: 20px;
        height: 20px;
        min-width: 20px;
        border: none;
        border-radius: 50%;
        background: #ff5b7f;
        color: white;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-shrink: 0;

    }

    #closeCabinet {
        position: absolute !important;
        width: 20px !important;
        height: 20px !important;
        max-width: 20px !important;
        flex: 0 0 20px !important;

        right:0 !important;
        top:0% !important;
        transform:translateY(-50%) !important;
    }


#closeCabinet:hover {
    background: #e6466d;
}

.status-badge{
    display:inline-block;
    padding:6px 14px;
    border-radius:30px;
    font-size:13px;
    font-weight:600;
    margin-top:10px;
}

.status-badge.upcoming{
    background:#dff7e7;
    color:#198754;
}

.status-badge.completed{
    background:#e8f0ff;
    color:#0d6efd;
}

.status-badge.cancelled{
    background:#ffe3e3;
    color:#dc3545;
}

.cabinet-card{
    border:1px solid #ddd;
    border-radius:14px;
    padding:15px;
    margin-bottom:15px;
}

.cabinet-card h3{
    margin:0 0 10px;
}

.cabinet-card p{
    margin:5px 0;
}

.hidden{
    display:none;
}


.warning{
    margin-top:22px;
    padding:16px;
    border-radius:14px;
    background:#fff2f2;
    color:#c62828;
    text-align:center;
    font-weight:600;
}


phone-error{
    margin-top:8px;
    color:#d32f2f;
    font-size:14px;
    display:none;
}


::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:#bbb;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#888;
}

select[multiple]{
    min-height:170px;
    padding:12px;
}

@media (max-width:600px){

    body{
        padding:14px 8px;
    }

    .booking-card{
        width:100%;
        padding:24px 18px;
        border-radius:22px;
    }


  .language-selector{
      position:absolute;
      top:70px;
      left:30px;
  }

.language-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #87d6b1;

    font-size: 34px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0px 0px rgba(0,0,0,.2);
}

.language-menu button{

    display:flex;
    align-items:center;
    gap:10px;

    width:100%;
    border:none;
    background:#22b865;
    color:white;
    padding:12px;
    border-radius:14px;
    font-size:16px;
    cursor:pointer;
    transition:.2s;
}

.language-menu button:hover{
    background:#18a457;
}

.language-menu button span {
    font-size: 20px;
}

.language-menu {

    position: absolute;
    top: 65px;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background: #ffffff;
    border-radius: 18px;
    padding: 10px;
    width: 180px;
    box-shadow: 0 8px 30px rgba(0,0,0,.18);
    z-index: 9999;
}

.language-menu.hidden{
    display:none;
}

  .language-option{
      width:20%;
      padding:10px 10px;
      border:none;
      text-align:center;
      cursor:pointer;
      font-size:10px;
  }

  .hidden{
      display:none;
  }

    .logo{
        width:90px;
        height:90px;
        margin-top:-15px;
    }

    h1{
        font-size:22px;
    }

    .subtitle{
        font-size:16px;
        margin-bottom:18px;
    }

    label{
        font-size:15px;
    }

    input,
    select{
        height:48px;
        font-size:15px;
    }

    button{
        height:50px;
        font-size:15px;
    }

    select[multiple]{
        min-height:150px;
    }

    .cabinet-btn {
        margin-top:65px;
        margin-left:240px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background: #d7e4de;

        font-size: 34px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0 0px 0px rgba(0,0,0,.2);
    }

    .cabinet{
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:280px;
        max-height:600px;
        overflow:auto;
        background:white;
        border-radius:20px;
        padding:25px;
        z-index:5000;
        box-shadow:0 10px 40px rgba(0,0,0,.25);
    }

    .cabinet-header{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        margin-bottom:25px;

    }

    .cabinet-header h2{
        margin:0;
        font-size:20px;
        font-weight:700;

    }

    #closeCabinet {
        position: absolute;
        right: 0;
        top: 0%;
        transform: translateY(-50%) !important;
        width: 20px;
        height: 20px;
        min-width: 20px;
        border: none;
        border-radius: 50%;
        background: #ff5b7f;
        color: white;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-shrink: 0;

    }

    #closeCabinet {
        position: absolute !important;
        width: 20px !important;
        height: 20px !important;
        max-width: 20px !important;
        flex: 0 0 20px !important;

        right:0 !important;
        top:0% !important;
        transform:translateY(-50%) !important;
    }

    #closeCabinet:hover {
        background: #e6466d;
    }

    .status-badge{
        display:inline-block;
        padding:6px 14px;
        border-radius:30px;
        font-size:13px;
        font-weight:600;
        margin-top:10px;
    }

    .status-badge.upcoming{
        background:#dff7e7;
        color:#198754;
    }

    .status-badge.completed{
        background:#e8f0ff;
        color:#0d6efd;
    }

    .status-badge.cancelled{
        background:#ffe3e3;
        color:#dc3545;
    }

    .cabinet-card{
        border:1px solid #ddd;
        border-radius:14px;
        padding:15px;
        margin-bottom:15px;
    }

    .cabinet-card h3{
        margin:0 0 10px;
    }

    .cabinet-card p{
        margin:5px 0;
    }

    .hidden{
      display:none;
    }

    footer{
        font-size:11px;
        padding:18px 0 10px;
    }
}
